
.navbar {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

#left-nav {

}


#left-nav li {

    display: inline-flex;
    padding: 5px;

}


#right-nav {
    margin-right: 50px;

}

#right-nav li {

    display: inline-flex;
    padding: 5px;

}
