* {
    margin: 0;
    padding: 0;
  }


.navbar {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

#left-nav {
    margin-top: 10px;
    margin-left: 25px;
}


#left-nav li {

    display: inline-flex;
    padding: 5px;

}


#right-nav {
    margin-top: 10px;
    margin-right: 50px;

}

#right-nav li {

    display: inline-flex;
    padding: 5px;

}

.button1 {
        background-color: #479cd4;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;      
}